<!-- LANGUAGE Modal -->

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="selectLanguageCtrl.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Language Assistance</h4>
    </div>
    <div class="modal-body">
        <p class="h4"><a href="#" title="link to switch to Spanish version of the site">Ver site in Espa&ntilde;ol</a></p>
        <p>&nbsp;</p>
        <p class="h4">Need help in your language?</p>
        <p><a href="#" title="link to language assistance PDF for Medicare">Language assistance information (PDF)</a></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="selectLanguageCtrl.close()">Close</button>
    </div>
</div>